{% extends "base.html" %}
{% block page_content %}
{% include 'header.html' %}

<!-- blog -->
<div class="w-full bg-white">

	<div class="container max-w-4xl mx-auto md:flex items-start py-8 px-12 md:px-0">

		<!-- sidebar -->
		<div class="w-full md:w-64">


			<aside class="rounded shadow overflow-hidden mb-6">
				<h3 class="text-sm bg-gray-100 text-gray-700 py-3 px-4 border-b">Latest Posts</h3>

				<div class="p-4">
					<ul class="list-reset leading-normal">
						{% for post in posts[:4] %}
							<li><a href="#" class="text-gray-darkest text-sm">{{ post['title'] }}</a></li>

						{% endfor %}

						</ul>
				</div>
			</aside>
			<aside class="rounded shadow overflow-hidden mb-6">
				<h3 class="text-sm bg-gray-100 text-gray-700 py-3 px-4 border-b">Categories</h3>

				<div class="p-4">
					<ul class="list-reset leading-normal">
						{% for category in categories %}
						<li><a href="#" class="text-gray-darkest text-sm">{{category}}</a></li>
						{% endfor %}
					</ul>
				</div>
			</aside>

		</div>
		<!-- /sidebar -->
		<!-- articles -->
		<div class="w-full md:pr-12 mb-12 ml-20">
			{% for post in posts %}

			{% include 'post_item.html' %}
			{% endfor %}

			<div class="flex justify-between text-xs">
				<a href="#" class="bg-gray text-white no-underline py-2 px-3 rounded">Previous</a>
				<a href="#" class="bg-black text-white no-underline py-2 px-3 rounded">Next</a>
			</div>
		</div>
		<!--/ articles -->


	</div>

</div>
<!-- /blog -->


<!-- footer -->
<footer class="w-full bg-white px-6 border-t">
	<div class="container mx-auto max-w-4xl py-6 flex flex-wrap md:flex-no-wrap justify-between items-center text-sm">
		&copy;2019 Your Company. All rights reserved.
		<div class="pt-4 md:p-0 text-center md:text-right text-xs">
			<a href="#" class="text-black no-underline hover:underline">Privacy Policy</a>
			<a href="#" class="text-black no-underline hover:underline ml-4">Terms &amp; Conditions</a>
			<a href="#" class="text-black no-underline hover:underline ml-4">Contact Us</a>
		</div>
	</div>
</footer>
<!-- /footer -->
{% endblock %}