<article class="mb-12">
    <h2 class="mb-4">
        <a href="#" class="text-black text-xl md:text-2xl no-underline hover:underline">
            {{post['title']}}
        </a>
    </h2>

    <div class="mb-4 text-sm text-gray-700">
        <a href="#" class="text-gray-700">{{post['date']}}</a>
        <span class="font-bold mx-1"> | </span>
        <a href="#" class="text-gray-700">{{post['category']}}</a>
        <span class="font-bold mx-1"> | </span>
        <a href="/edit?id={{post['id']}}" class="text-gray-700">Edit Post</a>
    </div>

    <p class="text-gray-700 leading-normal">
       {{post['description']}}
    </p>

    </article>